* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 65%;
    scroll-behavior: smooth;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
@media (max-width: 70em) {
    * {
        font-size: 50%;
    }
}
@media (max-width: 60em) {
    * {
        font-size: 40%;
    }
}
@media (max-width: 30em) {
    * {
        font-size: 30%;
    }
}
body {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: white;
}
h1, h2 {
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
ul {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 3px;
}
a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 2.5rem;
}
img {
    display: block;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 19, 59);
    z-index: 1;
}
.nav-list {
    display: flex;
    margin-right: 1.5rem;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(0, 81, 255);
    /*background: linear-gradient(45deg, black, rgb(0, 36, 114), rgb(0, 81, 255), rgb(0, 48, 153));*/
    background: linear-gradient(45deg, black, rgb(0, 81, 255), rgb(0, 170, 248));
}
.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: white;
}
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: rgb(0, 81, 255);
    /*background: linear-gradient(45deg, black, rgb(0, 36, 114), rgb(0, 81, 255), rgb(0, 48, 153));*/
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 3px;
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
@media (max-width: 70em) {
    .project-title {
        font-size: 20px;
    }
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: rgb(43, 43, 43);
    height: 100vh;
}
.contact-section-header > h2 {
    font-size: 6rem;
}
.contact-links {
    justify-content: center;
}
